.AboutUser nav{
    display: flex;
    margin: 1rem 0;
    justify-content: center;
}
.AboutUser button{
    width: 7rem;
    height: 3rem;
    display: flex;
    line-height: 0;
    margin: .5rem;
    border-radius: .3rem;
    border: 1px solid ghostwhite;
    outline: none;
    padding: .2rem;
}
.AboutUser button:hover {
    background: rgba(127, 114, 114, 0.45);
}
.AboutUser .text{
    text-align: center;
    width: 70%;
}
.AboutUser .img{
    width: 30%;
}
.img img{
    width: 1.2rem;
    height: 1.2rem;
    margin: .6rem 0;
}
.text span{
    font-size: .7rem;
}

.AboutUser h2{
    margin: 0;
    padding: .2rem;
    font-size: 1.2rem;
}

/*2 part*/

.AboutUser a:hover{
    text-decoration: none;
}
.AboutUser .main{
    width: 84%;
    margin: 1rem auto;
}

/*loading*/
.loading{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7f7272;
}
.loading img{
    width: 10rem;
}
.value0{
    height: 10vh;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}