.Cart-Follows-Wraper{
    display: flex;
    flex-wrap: wrap;
}
.Cart-Follows{
    border: 1px solid gainsboro;
    width: 45%;
    height: 4rem;
    margin: 3% 0 0 3%;
    padding: .4rem;
    box-sizing: border-box;
    display: flex;
}
.Cart-Follows div:first-of-type {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}
.Cart-Follows div:first-of-type img{
    width: 70%;
    border-radius: 50%;
}
p{
    font-size: .8rem;
    margin: .4rem 0;
}