.logo{
    text-align: center;
}
.logo img{
    width: 10rem;
    margin: 1.5rem;
}
.form {
    padding-left: 1rem;
    width: 25rem;
    height: 1.8rem;
    border-radius: .3rem;
    border: 1px solid gainsboro;
    position: relative;
    margin: 0 auto;
}
.form button{
    border: none;
    outline: none;
    background: none;
}
.form input{
    width: 90%;
    border: none;
    outline: none;
    font-size: .7rem;
}
.form img{
    top: .2rem;
    position: absolute;
    right: 1rem;
    cursor: pointer;
}