.User{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    padding: 1rem;
}
.col{
    width: 30%;
    /*border: 1px solid;*/
}
.col .avatar{
    width: 50%;
    border-radius: 50%;
    margin: 5% 25%;
}
.col h3{
    text-align: center;
    margin-top: 0;
}
.col button{
    margin: 0 15%;
    padding: .5rem;
    width: 70%;
    border: none;
    outline: none;
    border-radius: .3rem;
    text-decoration: none;
    font-size: 18px;
}
.col button:hover{
    background: rgba(127, 114, 114, 0.45);
}
/*2 col*/
.col-center{
    width: 35%;
}
.col h2{
    margin-bottom: .5rem;
}
.col span{
    font-size: .7rem;
}
.col .data{
    display: flex;
    margin: .5rem 0;
    line-height: 80%;
    color: #7f7272;
}
.col .data-img{
    width: 20%;
    /*border: 1px solid;*/
}
.data-img img{
    width: 1rem;
}
.col .data p{
    width: 80%;
    margin: 0;
    font-size: .8rem;
    word-break: break-word;
}
.data span:first-of-type{
    margin-right: 1rem;
}


