.CartsWraper{
    display: flex;
    flex-wrap: wrap;
}
.Cart{
    border: 1px solid gainsboro;
    width: 47%;
    height: 7rem;
    margin: 3% 0 0 3%;
    padding: .4rem;
    box-sizing: border-box;
}
.Cart h2{
    padding: 0;
    font-size: 30px;
}
.Cart small{
    font-size: .45rem;
}
.Cart span{
    font-size: .7rem;
    margin-right: 1rem;
}
.Cart-last-elem span{
    margin-right: .5rem;
    font-size: .6rem;
}
.pagination{
    margin: 1.5rem auto;
    justify-content: center;
}

/*gists*/

.link button{
    width: 45%;
    margin: .5rem 0;
    height: 1.5rem;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}
